/*phone css*/
*{
    margin: 0;
    padding: 0;
}
#document {
    width: 100%;
    max-width:1920px;
    position: relative;
   }
article h1{
    text-align: center;
    /* margin:30px auto; */
}
article{
    background-color: blanchedalmond;
    padding-top: 5px;
    margin-top: -4px;
    padding-bottom: 5px;
}
article p{
    width:75%;
    text-align: center;
    margin:auto;
    line-height: 1.8;
    padding-bottom: 10px;
}
section{
    width: 100%;
    background-color: rgb(213, 187, 236, 0.5);
    margin-top: -4px;
}
section h1{
    text-align: center;
    margin:auto;
    padding: 20px;
}
section p{
    padding: 10px;
}
#partnerone{
    
    width: 98%;
    margin:5px auto 5px auto;
    overflow: hidden;
}
#partnertwo{
   
    width: 98%;
    margin:5px auto 5px auto;
    overflow: hidden;
}
#partnerone p{
    width:85%;
    text-align: center;
    margin:auto;
}
#partnertwo p{
    width:85%;
    text-align: center;
    margin:auto;
}
footer{
    /* border: 2px solid red; */
    background-color: rgb(110, 110, 110);
    width:100%;
    text-align: center;
    margin-top: -5px;
    color:#fff;
}
.clearboth{
    clear: both;
}
.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .item>a{
      display: block;
      height: 100%;
  }
.page-header{
    border-style: hidden;
}
/*tablet css*/
@media only screen and (min-width: 481px) {


        #partnerone{
            width:49%;
            float: left;
            margin: auto 0.5% auto 0.5%;
        }
        #partnertwo{
            width:49%;
            float: left;
            margin: auto 0.5% auto 0.5%;
        }
        #partnerone p{
            width:90%;
        }
        #partnertwo p{
            width:90%;
        }
        section{
            overflow: hidden;
        }
        

    }
/*pc css*/
@media only screen and (min-width: 769px) {

        article h1{
            text-align: center;
            margin:20px auto;
        }
        article{
            background-color: rgb(255, 235, 205, 0.5);
            /* height: 200px; */
            padding-top: 5px;
            margin-top: -4px;
            padding-bottom: 5px;
            width: 85%;
            margin: auto;
        }
        section{
            width: 85%;
            margin: auto;
            margin-top: 20px;
        }
        section h1{
            text-align: center;
            margin:30px auto;
            padding: 5px;
        }
        section p{
            padding-bottom: 10px;
        }

        article p{
            width:60%;
            text-align: center;
            margin:auto;
            line-height: 2;
            padding-bottom: 5px;
        }
        #partnerone{
            width:70%;
            float: none;
            margin: auto;
            margin-bottom: 15px;
        }
        #partnertwo{
            width:70%;
            float: none;
            margin: auto;
            margin-bottom: 25px;
        }

        #partnerone img{
            width:50%;
            float: left;
            margin-right: 1%;            
        }
        #partnerone p{
            width:49%;;
            float: right;
            padding-top: 50px;
            line-height: 1.8;
        }
         #partnertwo img{
            width:50%;
            float: right;
            margin-left: 1%;
        }
        #partnertwo p{
            width: 49%;
            float: left;
            padding-top: 50px;
            line-height: 1.8;
        }
    }
    